<!-- ===== DONATE ===== -->
<section id="donate" class="section-highlight text-center">
  <div class="container">

    <!-- ===== SECTION TITLE ===== -->
    <h2 class="title-default">We need your help</h2>
    <p class="section-description">Help us support the show!</p>

    <!-- ===== DONATE VALUES ===== -->
    <div class="row mb-50">

      <div class="col-lg-12 col-md-12 mb-20">
        <a href="https://patreon.com/diacast" class="btn btn-default btn-round btn-lg btn-block" target="_blank">Support us on Patreon</a>
      </div>

    </div>

  </div>
</section>
