<!-- =================================== -->
<!-- 			  SCRIPTS 				 -->
<!-- =================================== -->

<!-- JQUERY -->
<script src="/assets/js/jquery-1.11.min.js"></script>

<!-- BOOTSTRAP JS -->
<script src="/assets/js/bootstrap.min.js"></script>

<!-- MEDIA ELEMENT -->
<script src="/assets/js/mediaelement-and-player.min.js"></script>

<!-- MAGNIFIC POPUP -->
<script src="/assets/js/magnific-popup.min.js"></script>

<!-- FORM VALIDATE -->
<script src="/assets/js/validate.min.js"></script>

<!-- PLACEHOLDER FOR IE -->
<script src="/assets/js/placeholder.min.js"></script>

<!-- THEME JS -->
<script src="/assets/js/main.js"></script>
