{% include head.html %}

<body itemscope itemtype="http://schema.org/WebSite">
	{% include navigation.html %}

		<!-- ===== LASTEST PODCAST (HERO) ===== -->
		<section class="podcast-hero" style="background-image: url(assets/img/diacast/4Kbg.png)">
			<div class="podcast-hero-inner">

				<!-- ===== PODCAST INFO ===== -->
				<div class="container">
						<div class="podcast-hero-content">
						<span class="podcast-hero-date">{{site.posts.first.date | date_to_string: "ordinal", "US"}}</span>
						<h2 class="podcast-hero-title"><a href="{{site.posts.first.url}}">{{site.posts.first.title}}</a></h2>
						<ul class="podcast-hero-meta">
							<li class="item"><i class="fa fa-clock-o"></i> {{site.posts.first.duration}}</li>
							<li class="item"><a href="{{site.posts.first.file}}" class="podcast-hero-download"><i class="fa fa-download"></i> Download</a></li>
						</ul>
					</div>
				</div>

				<!-- ===== PODCAST PLAYER ===== -->
				<div class="podcast-hero-player-content">
					<div class="container">
						<!-- ===== CUSTOM PLAYER ===== -->
						<audio src="{{site.posts.first.file}}"></audio>
					</div>
				</div>

			</div>
		</section>

		<!-- ===== MAIN ===== -->
		<main id="main" class="main">

			<!-- ===== PODCAST LIST ===== -->
			<section id="#episodes" class="section-positive">
				<div class="container">

					<!-- ===== SECTION TITLE ===== -->
					<h2 class="title-default">Episodes</h2>

					<div class="row">

						{% for post in site.categories.episodes offset:1 %}
						<!-- ===== PODCAST CARD FULL ===== -->
						<div class="col-sm-12 mb-40">
							<div class="podcast-card full">
								<figure class="podcast-image"><a href="{{post.url}}"><img src="assets/img/diacast/thumb.png"/></a></figure>
								<div class="podcast-content">
									<span class="podcast-date">{{post.date | date_to_string: "ordinal", "US"}}</span>
									<h2 class="podcast-title"><a href="{{post.url}}">{{post.title}}</a></h2>
									<p class="podcast-excerpt"><a href="{{post.url}}">{{post.description}}</a></p>
									<ul class="podcast-meta">
										<li class="item"><i class="fa fa-clock-o"></i>{{post.duration}}</li>
										<li class="item"><a href="{{post.url}}" class="podcast-play"><i class="fa fa-play"></i> View Episode</a></li>
									</ul>
								</div>
							</div>
						</div>
						{% endfor %}

						<!-- ===== PAGINATION =====
						<div class="col-sm-12 text-center mb-50">
							<ol class="pagination">
								<li><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#"><i class="fa fa-angle-right"></i></a></li>
							</ol>
						</div>
					-->

					</div>

				</div>
			</section>

			{% include donate.html %}

		</main>

		{% include footer.html %}

		{% include scripts.html %}

	</body>

	</html>
